{{!-- <div class="confirm-success">
<h2>Sorry the link is wrong ☹️</h2>
<br><br>
<div class="para-validate">
<p>Please check if you clicked or copy paste the right link we've sent you be email</p>
</div> --}}