{{!-- <div class="confirm-success">
  <h2>Welcome {{user.username}}</h2><br><br>
</div>
<div class="para-validate">
  <p>Your account is now
    <pre> activated 🎉🎉</pre>
  </p>
</div>
<div class="giphy-embed"><img src="/images/giphy2.gif" width="16%" height="16%" border-radius="50px"></img></div><br><br>
<h5 class="confirm-success"> <i> Hv fun!!!...............................................................Hv fun!!!............................................................Hv fun!!!</i></h5> --}}