
<form action="/auth/signup" method="POST" id="form-container" class="containerform">
  
  <div class="headerform">Signup</div>
  <input id="username" type="text" name="username" placeholder="Username" class='texts'>

  <br><br>

  <input id="password" type="password" name="password" placeholder="Password" class='passw'>

  <br><br>

  <input id="email" type="email" name="email" placeholder="Email" class='emails'>
  <br>
  {{#if message }}
  <div class="error-message">
    <pre>{{ message }}</pre>
  </div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <div class="account-message">
    <p> Do you already have an account?</p>
    <a href="/auth/login">Login</a>
<<<<<<< HEAD
  </div>
</form>
=======
  </p> --}}
</form>
>>>>>>> a09d1701acd80fa03d5d53895ad5add26ce91d5d
