<<<<<<< HEAD

<form action="/auth/signup" method="POST" id="form-container" class="containerform">
  
  <div class="headerform">Signup</div>
  <input id="username" type="text" name="username" placeholder="Username" class='texts'>

  <br><br>

  <input id="password" type="password" name="password" placeholder="Password" class='passw'>

  <br><br>

  <input id="email" type="email" name="email" placeholder="Email" class='emails'>
=======
<h2>Signup</h2>
<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>

  <label for="position">Your Position</label>
  <div id='geocoder-signup' class='geocoder'></div>
  {{!-- <input id="position" type="text" name="position" placeholder="Berlin"> --}}
  <br><br>
  
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
>>>>>>> aff2de8a93c4690ee4cc523674b6c485f1058c40
  <br>
  {{#if message }}
  <div class="error-message">
    <pre>{{ message }}</pre>
  </div>
  {{/if}}
  <br><br>
  <button>Create account</button>
<<<<<<< HEAD

  <div class="account-message">
    <p> Do you already have an account?</p>
    <a href="/auth/login">Login</a>
<<<<<<< HEAD
  </div>
</form>
=======
  </p> --}}
</form>
>>>>>>> a09d1701acd80fa03d5d53895ad5add26ce91d5d
=======
  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
<style>
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }
</style>
<div id='map'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZnJkMjZ4IiwiYSI6ImNqcnQ4ZGFzMjF4dDA0M3BzOWg4NGNlem4ifQ.SgF_HKYViz0-nlirZ9Ksag';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-79.4512, 43.6568],
    zoom: 13
  });

  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  });

  document.getElementById('geocoder-signup').appendChild(geocoder.onAdd(map));
  document.getElementById('geocoder-signup').firstChild.childNodes[1].setAttribute("name", 'position')

</script>
>>>>>>> aff2de8a93c4690ee4cc523674b6c485f1058c40
