{{!-- <div class="confirm-success">
  <h2>You are almost here!!!</h2>
</div>

<div class="para-validate">
  <p>Check your email to
    <pre> validate </pre> your account 😀</p><br>

</div>

<div class="giphy-embed"><img src="/images/giphy1.gif" width="16%" height="16%" frameBorder="0"></img><pre> <i> Let's go go go......!!!!</i></pre></div> --}}