<div class="homepage">
<h1 contenteditable data-text="BOARDING">WELCOME <br> TO <br>BOARDING</h1>
</div><br>

<blockquote class="blockquote text-center">
  <p class="mb-0"><h2> Attend and host tons of Events. Life is sweet when you meetup</h2></p>
  <footer class="blockquote-footer"><h3>What are you wating for??? So much fun awaits you 😀😀😀</h3><cite title="Source Title"><h4>login or signup to proceed...</h4></cite></footer>
</blockquote>