<div class="homepage">
<h1 contenteditable data-text="BOARDING">WELCOME  BACK<br> TO <br>BOARDING</h1>
</div>

<blockquote class="blockquote text-center">
  <p class="mb-0"><h2> Attend and host tons of Events. Life is sweet when you meetup</h2>
<h3> You can host or create any event of your choice and also attend any event hosted by others.</h3></p>
  <footer class="blockquote-footer"><h3> Click on Events to join or attend an event</h3><cite title="Source Title"><h4> Have fun!!!!</h4></cite></footer>
</blockquote>