<h1>Profile</h1><br>
<h3>Username: {{user.username}}</h3> <br>
<h3>Email: {{user.email}}</h3> <br>
<br>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-calendar-alt"> Events</i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">join</a>
    <a class="dropdown-item" href="#">add-events</a>
  </div>
</div>


<ul>{{#each join}}
<li>{{_event.address}}</li>
{{/each}}
</ul>
<br>
<ul>
  {{#each event}}
  <li>{{address}}</li>
  {{/each}}
</ul>