* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #331E36; }

.homepagebg {
  background-color: #FFE6E8;
  height: 100vh;
  width: 100vw; }

.containerform {
  width: 390px;
  height: 600px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 114px 2px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  display: flex;
  justify-content: center; }

.texts {
  position: absolute;
  margin-top: 150px;
  border: none;
  background: #000;
  color: gray;
  width: 250px;
  height: 44px;
  padding-left: 3px;
  padding-top: 10px;
  display: flex;
  justify-content: center; }

.passw {
  position: absolute;
  margin-top: 200px;
  border: none;
  background: #000;
  color: gray;
  width: 250px;
  height: 44px;
  padding-left: 3px;
  padding-top: 21px;
  display: flex;
  justify-content: center; }

.emails {
  position: absolute;
  margin-top: 250px;
  border: none;
  background: #000;
  color: gray;
  width: 250px;
  height: 50px;
  padding-left: 3px;
  padding-top: 31px;
  display: flex;
  justify-content: center; }

button {
  position: absolute;
  width: 149px;
  height: 43px;
  border: 1px solid #fff;
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  border-radius: 22px;
  margin-top: 340px;
  display: flex;
  justify-content: center; }
  button:hover {
    color: #000;
    background: #fff; }

.headerform {
  position: absolute;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 48px;
  margin-top: 50px;
  display: flex;
  justify-content: center; }

.containerform p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px; }

.error-message pre {
  color: #ea2222;
  overflow: visible;
  padding-top: 20px; }

.account-message {
  width: 50px;
  align-items: flex-end;
  padding-top: 420px; }

.account-message p {
  display: flex;
  justify-content: center;
  color: white; }

.confirm-success h2 {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.para-validate {
  display: flex;
  justify-content: center;
  padding-top: 100px; }

.para-validate pre {
  color: chartreuse;
  font-size: 3rem; }

.giphy-embed {
  display: flex;
  justify-content: center;
  border-radius: 100px; }

@font-face {
  font-family: "Decovar Regular24";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf"); }

.homepage h1 {
  margin: 0;
  font-size: 4rem;
  position: relative;
  font-family: "Decovar Regular24";
  font-variation-settings: "INLN" 1000, "SWRM" 1000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(/images/grass.jpg);
  background-size: 30%;
  background-repeat: repeat;
  text-shadow: 2px 2px 5px rgba(42, 67, 8, 0.4);
  animation: grow 4s linear infinite; }

@keyframes grow {
  0% {
    font-variation-settings: "INLN" 1000, "SWRM" 1000; }
  50% {
    font-variation-settings: "INLN" 1000, "SWRM" 0; } }

.homepage h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  letter-spacing: 0.6rem;
  padding-top: 50px; }

/*# sourceMappingURL=style.css.map */